body {
    font-family: 'Lexenda';
    color: white;
    font-size: 1rem;
    background-color: black;
    background-image: radial-gradient(ellipse 90% 80% at 0% 30%, rgba(0, 18, 122, 0.233), rgba(156, 0, 161, 0.144));
    background-attachment: fixed;
}

header.scrolled {
    background-color: rgb(5, 0, 27);
}

header {
    height: 74px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    z-index: 1;
    transition: background-color ease-in-out 0.1s;

    div.header-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    div.header-menu-button:hover {
        cursor: pointer;
    }

    div.header-logo {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
            font-family: 'Borel';
            top: 6px;
            position: relative;
        }
    }

    div.header-search {
        background-color: rgba(255, 255, 255, 0.082);
        border: 1px solid rgba(255, 255, 255, 0.151);
        border-radius: 10px;
        padding: 10px 20px;
        margin: 0;
        color: rgba(255, 255, 255, 0.534);
        height: 42px;
        display: flex;
        align-items: center;
        gap: 20px;

        p {
            font-weight: 300;
        }

        svg {
            opacity: 53%;
        }
    }

    div.header-user-logo {
        border: 1px solid #3584e4;
        border-radius: 100%;
        display: flex;
        padding: 3px;
        margin-left: auto;
    }
}

main {

    section.main-content {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        aside.menu {
            position: fixed;
            top: 74px;
            height: calc(100dvh - 74px);
            width: 65.5px;
            border-right: 1px solid rgba(255, 255, 255, 0.13);
            padding: 9px 9px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 9px;
            z-index: 1;
            transform: translateX(-100%);
            transition: transform ease-in-out 0.2s;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                width: 100%;
                border-radius: 5px;
                transition: background-color ease-in-out 0.2s;
                padding: 5px 0;

                svg {
                    transition: stroke-width ease-in-out 0.2s;
                }

                small {
                    font-size: 10px;
                    font-weight: 300;
                }
            }

            div.button-active {
                background-color: rgba(255, 255, 255, 0.082);

                svg {
                    stroke-width: 2;
                }

            }

            div:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.062);
            }
        }

        aside.menu-visible {
            transform: translateX(0);
        }

        section.display-content.left-spacing {
            padding-left: 80px;
        }

        section.display-content {
            margin: 0 auto;
            margin-top: calc(74px + 60px);
            margin-bottom: 74px;
            transition: padding-left ease-in-out 0.2s;

            >section {
                display: none;
            }

            >section.section-active {
                display: block;
                min-height: 100dvh;
                max-width: 85rem;
            }

            section.home {
                div.music-section::-webkit-scrollbar {
                    /*Hidden scrollbar*/
                    display: none;
                    /* Chrome, Safari & Edge */
                }

                div.slider-section {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    div.slider-section-header {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 100%;
                            aspect-ratio: 1/1;
                        }

                        div.scroll-controls {
                            margin-left: auto;
                            display: flex;
                            gap: 5px;
                            justify-content: center;

                            svg {
                                border-radius: 5px;
                                transition: background-color ease-in-out 0.2s;
                            }

                            svg:hover {
                                cursor: pointer;
                                background-color: rgba(255, 255, 255, 0.062);
                            }
                        }
                    }
                    
                    div.music-section {
                        display: flex;
                        gap: 30px;
                        overflow-x: scroll;
                        width: calc(100dvw - 20px);
                        max-width: calc(1360px);
                        /*Hidden scrollbar*/
                        scrollbar-width: none;
                        /* Firefox */
                        -ms-overflow-style: none;
                        /* Internet Explorer & Edge */
    
                        div.song-card {
                            display: flex;
                            flex-direction: column;
                            width: 190px;
                            height: auto;
                            flex-shrink: 0;
                            gap: 5px;
    
                            >div.image-card {
                                border-radius: 20px;
                                background-image: url('https://i.scdn.co/image/ab67616d0000b273dc30583ba717007b00cceb25');
                                background-size: cover;
                                width: 190px;
                                height: 190px;
                            }
    
                            >div.song-info {
                                display: flex;
                                flex-direction: column;
    
                                small:nth-child(2) {
                                    font-weight: 300;
                                    color: rgb(155, 155, 155);
                                }
                            }
    
                        }
                    }
                }
            }
        }
    }

    section.section-music-player {
        height: 74px;
        width: 100%;
        border-top: 2px solid rgb(49, 49, 49);
        background-color: rgb(12, 12, 12);
        position: fixed;
        bottom: 0;
        display: flex;
        padding: 15px 20px;
        align-items: center;
        z-index: 1;

        div.music-controls {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 20%;

            small {
                color: rgb(131, 131, 131);
                font-weight: 200;
            }
        }

        div.song-card {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            width: 60%;

            div {
                display: flex;
                flex-direction: column;

                small {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    max-width: 300px;

                }

                small:last-child {
                    font-weight: 200;
                }
            }
        }

        div.right-controls {
            width: 20%;
            gap: 20px;
            display: flex;
            justify-content: end;
        }
    }
}