body {
    font-family: 'Lexenda';
    color: white;
    font-size: 1rem;
}

header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
    background-color: black;
    background-image: radial-gradient(ellipse 90% 80% at 0% 30%, rgba(0, 18, 122, 0.233), rgba(156, 0, 161, 0.185));
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 40px;

    div.header-menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div.header-logo {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    div.header-search {
        background-color: rgba(255, 255, 255, 0.144);
        border: 1px solid rgba(255, 255, 255, 0.253);
        border-radius: 10px;
        padding: 10px 20px;
        margin: 0;
        color: rgba(255, 255, 255, 0.534);
        font-weight: 300;
        resize: none;
        height: 42px;
        display: flex;
        align-items: center;
        gap: 20px;

        svg {
            opacity: 53%;
        }
    }

    div.header-user-logo {
        border: 1px solid #3584e4;
        border-radius: 100%;
        display: flex;
        padding: 3px;
        margin-left: auto;
    }
}