body.scroll-inactivo {
    overflow: hidden;
}

section.intro {
    display: flex;
    margin-top: 0;
}

section.intro>div:first-child>h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

p.parrafo-intro {
    margin: 20px 0;
}

section h1.titulo {
    margin-top: 100px;
    margin-bottom: 20px;
    transition: font-size ease-in-out 0.2s;
    scroll-margin-top: 112px;

    svg {
        position: relative;
        top: 2.8px;
        bottom: 0;
        transition: scale ease-in-out 0.2s, top ease-in-out 0.2s;
    }
}

section {
    width: 100%;
}

img.foto-personal-1 {
    background-color: rgba(237, 164, 255, 0.322);
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.075);
    border: 2px solid;
    border-radius: 100%;
    aspect-ratio: 1/1;
    transition: width ease-in-out 0.2s;
    margin-left: 20px;
    width: 30%;
    height: 30%;
}

img.foto-personal-2 {
    display: none;
}

span.color-resalte {
    color: rgb(185, 34, 255);
}

div.div-izquierda {
    margin-right: 20px;
    width: 50%;
}

div.caja-tecnologias {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

div.caja-tecnologias div {
    width: 70px;
    height: 70px;
    background-color: #ffffff6c;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.025);
    transition: box-shadow ease-in-out 0.2s;
}

div.caja-tecnologias div:hover {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.397);
}

div.caja-tecnologias div img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    filter: drop-shadow(6px 10px 0px rgba(0, 0, 0, 0.075));
    transition: height ease-in-out 0.2s, width ease-in-out 0.2s;
}

div.caja-tecnologias div:hover img {
    height: 110%;
    width: 110%;
}

div.enlaces {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.enlaces button {
    background: none;
    border: none;
    font-size: 40px;
    width: 70px;
    height: 70px;
    padding: 0;
}

div.enlaces button:last-child {
    margin-right: 0;
}

div.enlaces button a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 164, 255, 0.322);
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.075);
    border: 2px solid;
    border-radius: 20px;
    transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
    color: black;
}

div.enlaces button a svg {
    transition: scale ease-in-out 0.2s;
}

div.enlaces button a:visited {
    color: black;
}

div.enlaces a:hover {
    cursor: pointer;
    color: rgb(61, 61, 61) !important;
    background-color: rgba(204, 94, 255, 0.377);

    svg {
        scale: 1.2;
        color: rgb(61, 61, 61);
    }
}

/*Experiencia laboral*/

ul.ul-exp-laboral {
    padding-left: 29px;
    margin-bottom: 0;
}

div.exp-laboral {
    display: flex;
}

div.titulo-exp {
    padding-left: 3px;
}

div.titulo-exp {
    width: 30%;
    padding-right: 40px;
}

div.titulo-exp h3:nth-child(1) {
    color: rgb(185, 34, 255);
    margin-top: 0;
    margin-bottom: 0;
}

div.titulo-exp h3:nth-child(2) {
    margin-top: 7px;
    margin-bottom: 0;
}

div.titulo-exp small {
    margin-top: 7px;
}

div.desc-exp {
    width: 70%;
}

div.desc-exp p {
    margin-top: 7px;
    margin-bottom: 0;
}

div.desc-exp p:first-child {
    margin-top: 0;
}

li.li-estilo-exp::marker {
    color: rgb(185, 34, 255);
    font-size: 1.5rem;
}

/*---*/

/*Proyectos*/

div.proy-divs {
    display: flex;
    margin-bottom: 60px;
}

div.proy-divs:last-child {
    margin-bottom: 0;
}

div.proy-divs div.contenido-texto {
    width: 50%;
}

div.proy-divs img.img-proy-izq {
    width: 50%;
    height: 50%;
    margin-right: 40px;
    border: 2px solid;
    border-radius: 35px;
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.075);
    aspect-ratio: 16/9;
    transition: scale ease-in-out 0.2s, border-color ease-in-out 0.2s;
}

div.proy-divs div.tec-usadas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #ffffff6c;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.034);
    transition: box-shadow ease-in-out 0.2s;
}

div.proy-divs div.tec-usadas:hover {
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.397);
}

div.proy-divs div.tec-usadas img {
    aspect-ratio: 1/1;
    width: 30px;
    height: 30px;
}

div.proy-botones {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

div.proy-divs div:nth-child(2) button {
    border: none;
    background: none;
    padding: 0;
}

div.proy-divs div:nth-child(2) button a {
    background: none;
    font-family: 'Lexenda';
    font-size: 1rem;
    transition: color ease-in-out 0.2s, background-color ease-in-out 0.2s;
    background-color: rgba(237, 164, 255, 0.322);
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.075);
    padding: 10px;
    border: 2px solid black;
    width: 100%;
    border-radius: 20px;
    color: black;
    display: flex;
    gap: 3px;
}

div.proy-divs button a:visited {
    color: black;
}

div.proy-divs button a:hover {
    color: rgb(61, 61, 61) !important;
    background-color: rgba(204, 94, 255, 0.377) !important;
}

h3.titulo-proy {
    margin-top: 0;
    margin-bottom: 20px;
}

p.texto-proy {
    margin-top: 20px;
    margin-bottom: 22px;
}

p.en-desarrollo {
    margin-top: -18px;
    margin-bottom: 22px;
    color: rgb(104, 104, 104);
}

/*---*/

/*Contenedor para div CV*/

div.items-cv {
    width: 100%;
    height: 100%;
    max-width: 864px;
    display: flex;
    flex-direction: column;
}


.contenedor-cv {
    position: fixed;
    top: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 16px;
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.582);
}

.contenedor-cv-activado {
    z-index: 2;
    display: flex;
    transition: opacity ease-in-out 0.3s;
}

.contenedor-cv-visible {
    opacity: 1;
}

section.seccion-cv {
    background-color: whitesmoke;
    border: 2px solid;
    width: 100%;
    max-width: 864px;
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.075);
    overflow-y: auto;
}

div.botones-cv>.boton-cv {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: cursor ease-in-out 0.2s, background-color ease-in-out 0.2s;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.075);
}

div.botones-cv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
    margin-left: auto;

    img {
        user-select: none;
    }
}

div.botones-cv>.boton-cv:hover {
    cursor: pointer;
}

.cerrar-cv {
    background-color: rgb(255, 199, 199);
}

.cerrar-cv:hover {
    background-color: rgb(255, 141, 141);
}

.descargar-cv {
    background-color: rgb(199, 255, 199);
}

.descargar-cv:hover {
    background-color: rgb(139, 255, 139);
}

/*---*/

/*CV Estilos contenido*/

section.seccion-cv {
    div.inf-personal {
        background-color: rgb(244, 235, 247);
        padding: 10px;
        display: flex;

        img.foto-cv-1 {
            width: 60%;
            height: 60%;
            border: 4px solid rgb(125, 71, 139);
            border-radius: 100%;
            margin-right: 20px;
            top: 5px;
            position: relative;
        }

        img.foto-cv-2 {
            display: none;
        }
    }

    div.inf-cv {
        margin: 10px;
    }

    div:not(.inf-cv):not(.inf-personal) {
        p {
            display: inline;
            line-height: 30px;
            padding-right: 10px;
        }

        p:last-child {
            padding-right: 0;
        }

        p:nth-child(even) {
            color: rgb(180, 180, 180);
        }
    }



    p,
    h1,
    h2,
    h3 {
        margin: 0;
        padding: 5px 0;
        word-wrap: break-word;
    }

    h1 {
        font-size: 1.4rem;
        color: rgb(90, 90, 90);
    }

    h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1rem;
    }

    hr {
        background-color: rgb(125, 71, 139);
        border: none;
        height: 3px;
    }

    small {
        color: rgb(90, 90, 90);
    }

    span {
        font-weight: normal;
    }

    a {
        color: rgb(62, 114, 192);
        text-decoration: underline;
        transition: background-color ease-in-out 0.2s;
    }

    a:visited {
        color: rgb(62, 114, 192);
    }

    a:hover {
        background-color: rgba(255, 255, 0, 0.226);
    }

    table {
        border-collapse: collapse;
        margin-top: 5px;

        tr:first-child {
            background-color: rgb(244, 235, 247);
        }

        td {
            border-top: 2px solid rgb(125, 71, 139);
            border-bottom: 2px solid rgb(125, 71, 139);
            padding: 5px;
        }

        td:first-child {
            padding-right: 40px;
        }
    }

    div>ul:first-child {
        margin: 10px 0;
        padding-left: 20px;

        >li {
            margin-bottom: 30px;
        }

        >li:last-child {
            margin-bottom: 0;
        }

        >li::marker {
            color: rgb(125, 71, 139);
        }
    }

    div>ul:first-child>li>ul {
        list-style: none;
        padding-left: 0;

        >li::marker {
            color: rgb(125, 71, 139);
        }

        >li {
            margin-bottom: 10px;
        }

        >li:last-child {
            margin-bottom: 0;
        }

        hr {
            height: 2px;
        }
    }

    div>ul:first-child>li>ul>li>ul {
        list-style: disc;
        padding-left: 40px;

        >li::marker {
            color: rgb(0, 0, 0);
            font-size: 0.7rem;
        }

        >li {
            padding-bottom: 5px;
        }
    }
}

/*---*/

/*Scrollbar Firefox*/

@-moz-document url-prefix() {
    section.seccion-cv {
        scrollbar-width: thin;
        scrollbar-color: rgb(155, 155, 155);
    }
}

/*---*/

/*Scrollbar navegadores Webkit*/

section.seccion-cv::-webkit-scrollbar {
    width: 6px;
}

section.seccion-cv::-webkit-scrollbar-track {
    background: none;
}

section.seccion-cv::-webkit-scrollbar-thumb {
    background-color: rgb(196, 196, 196);

}

section.seccion-cv::-webkit-scrollbar-thumb:hover {
    background-color: rgb(155, 155, 155);
}

/*---*/

/*Contenedor para div video*/

div.cerrar-video {
    width: fit-content;
    border: 2px solid;
    background-color: rgb(255, 199, 199);
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    transition: pointer ease-in-out 0.2s, background-color ease-in-out 0.2s;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.075);
}

div.cerrar-video img {
    user-select: none;
}

div.cerrar-video:hover {
    cursor: pointer;
    background-color: rgb(255, 141, 141);
}

#abrirVideo:hover {
    cursor: pointer;
}

.contenedor-video {
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.582);
}

.contenedor-video-activado {
    z-index: 2;
    display: flex;
    transition: opacity ease-in-out 0.3s;
}

.contenedor-video-visible {
    opacity: 1;
}

section.seccion-video {
    height: fit-content;
    width: fit-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 16px 16px;
}

video {
    max-height: 90vh;
    max-width: 864px;
    aspect-ratio: 16/9;
}

/*---*/

/*Sobre mí*/

section.sec-sobre-mi p:last-child {
    margin-bottom: 0;
}

section.sec-sobre-mi p:nth-child(2) {
    margin-top: 0;
}

section.sec-sobre-mi:hover {
    img.img-sobre-mi-1 {
        rotate: 7deg;
    }
}

div.div-sobre-mi {
    display: flex;
    align-items: center;
}

div.div-izq-sobre-mi {
    width: 70%;
    /*No hay foto de momento para poner (Quitar el width 100% cuando se tenga la foto)*/
    width: 100%;
    /*---*/
}

img.img-sobre-mi-1 {
    width: 30%;
    height: 30%;
    margin-left: 40px;
    border: 2px dashed;
    border-radius: 35px;
    background-color: #97d9ff4f;
    box-shadow: 6px 10px 0px rgba(0, 0, 0, 0.075);
    rotate: 4deg;
    aspect-ratio: 1/1;
    transition: rotate ease-in-out 0.2s;
    /*No hay foto de momento para poner (Quitar el display none cuando se tenga la foto)*/
    display: none;
    /*---*/
}

img.img-sobre-mi-2 {
    /*No hay foto de momento para poner (Quitar !important cuando se tenga la foto)*/
    display: none !important;
    /*---*/
}

/*No hay foto de momento para poner (Quitar todo lo de dentro cuando se tenga la foto)*/
section.sec-sobre-mi {
    h1 {
        margin-bottom: 20px !important;
    }
}
/*---*/

span.res-sobre-mi {
    color: #007ec7;
    font-weight: 600;
}

/*---*/